.page-wrapper {
  max-width: 800px;
}

.internal {
  text-align: center;
  margin-bottom: 16px;
}

.internal .internal__name {
  color: #38b6ff;
  font-size: 22px;
}

.text {

}

.text p {
  font-weight: 400;
  line-height: 1.4;
  font-size: 17px;
}

.links .links__item.--primary {
  background: #55FF52;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
}